body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    font-family: "Nunito", sans-serif;
}

.contenedor-principal{
    min-height: 100vh;
    width: 95%;
    /* background-color: burlywood; */
}

.encabezado{
    /* background-color: chocolate; */
    min-height: 9vh;
    
    display: flex;
    
    

   
}

.encabezado-titulo{
    margin: 10px;
    /* background-color: firebrick; */
    margin-left: 4%;

}

main{

    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    
}


.texto-encriptar-container{
     /* background-color: rgb(204, 64, 64);  */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    
}

.encriptar-texto-input{
    margin: 10px;
    width: 90%;
    min-height: 70vh;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    color: #55138e;
    max-width: 90%;
}

.encriptar-texto-input:focus{
    outline: none;

}


.encriptar-texto-input::placeholder{
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    color: #55138e;
    
    
}



.texto-encriptar-botones{
    /* background-color: aqua; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    

}

.btn-encriptar, .btn-desencriptar{
    border: 2px solid rgb(8, 103, 167);
    border-radius: 10px;
    padding: 10px;
    width: 22%;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    font-weight: 500;
    
}

.btn-encriptar-disabled, .btn-desencriptar-disable{
    border: 2px solid rgb(123, 138, 148);
    border-radius: 10px;
    padding: 10px;
    width: 22%;
    font-family: "Nunito", sans-serif;
    cursor: not-allowed;
    pointer-events: none;
    font-weight: 500;
    
}



.btn-encriptar:hover,.btn-desencriptar:hover{
    background-color:rgb(8, 103, 167);
    color: #fff;
    transition: 300ms ease;
}




.texto-encriptado-container{
    background-color: #dfdfdf;
    border: 2px solid rgb(8, 103, 167);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
     padding: 20px;
     margin-bottom: 20px;
}

.texto-encriptado-resultado{
    /* background-color: rebeccapurple; */
    width: 100%;
    word-wrap:break-word;
   height: 70vh;
   overflow: scroll;
  
}


.texto-encriptado-btnCopiar{
    width: 50%;
    border: 2px solid #55138e;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    font-weight: 500;
   
}

.texto-encriptado-btnCopiar:hover{
    background-color: #55138e;
    color: #fff;
    transition: 300ms ease;
}



/*Hacer la pagina responsive*/

@media screen and (max-width:520px){

    
.contenedor-principal{
    min-height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: burlywood; */
}

.encabezado{
    display: flex;   
    justify-content: center;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #55138e; */
}


.texto-encriptar-container{
   width: 100%;
   gap: 20px;
   margin-bottom: 20px;
}

.encriptar-texto-input{
   margin: 10px;
   width: 95%;
   min-height: 30vh;
   
}


.encriptar-texto-input::placeholder{
   text-align: center;
   
    
    
}

.texto-encriptar-botones{
    width: 100%;
    justify-content: space-around;
}

.btn-encriptar, .btn-desencriptar{
    width: 30%;
    font-size: 15px;
    font-weight: 700;
    
}



.texto-encriptado-container{
    width: 88%;
     padding: 5px;
     margin-bottom: 20px;
  
   
}



.texto-encriptado-resultado{
    width: 100%;
    word-wrap:break-word;
    height: 30vh;
    overflow: scroll;
    
   
  
}


.texto-encriptado-btnCopiar{
    width: 50%;
    font-weight: 700;
    font-size: 16px;
   
}




}


@media screen and (min-width:521px) and (max-width:768px){


.texto-encriptar-container{
   width: 50%;
   justify-content: center;
}

.encriptar-texto-input{
   width: 90%;
   min-height: 70vh;
   max-width: 90%;
}


.texto-encriptar-botones{
    width: 100%;
}

.btn-encriptar, .btn-desencriptar{
    width: 38%;
    font-size: 14px;
}


.texto-encriptado-container{
    width: 40%;
     height: 78vh;
     margin-top: 2vh;
}

.texto-encriptado-resultado{
    width: 100%;
    word-wrap:break-word;
   height: 70vh;
   overflow: scroll;
  
}


.texto-encriptado-btnCopiar{
    font-size: 15px;
   
}
}